#boo{
    background-image: url(img/kassadin.png);
    
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: darkslategray;
}
.vl{
    border-right: 2px solid;
  }