#boo{
    background-image: url(img/thumb-1920-482751.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: darkslategray;

}
.vl{
    border-right: 2px solid;
  }
.myImages{
    padding: 0px 10px;
    white-space: nowrap;
    text-align: center;
    margin: 80px auto;

}
.myImages li{
    display: inline-block;
    max-width: 40%;
    margin: 20px 3%;
}
.myImages li img{
    width: 100%;
    max-width: 1200px;
}
.popup-wrapper{
    background-color: rgb(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}
.popup-content{
    text-align: center;
    font-family: Arial;
    margin: 10% auto;
    background-color: white;
    width: 100%;
    max-width: 300px;
    position: relative;
}
.popup-close{
    position: absolute;
    top: 5px;
    right: 8px;
    cursor: pointer;
    color: crimson;
}
/* pseudo classes */
.myImages li:hover{
    position: relative;
    top: -10px;
}