body, li, h2, h1, a, ul{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.banner-info{
    position: relative;
}
.imge{
    max-width: 100%;
}
.wellcome{
    padding: 20px;
    position: absolute;
    bottom: 65%;
    color: white;
    background-color: #ffa600e1;
    font-size: 75px;
}
body{
    background-color: #f1aa26;
}
#span1{
    font-weight: bold;
    color: rgb(165, 50, 50);
    font-size: 1.3em;
}
#marioclub1{
    font-size: 40px;
    border: 2px white solid;
    display: inline-block;
    border-radius: 35px;
    padding: 5px;
}
header{
    position: fixed;
    background-color: rgb(165, 50, 50);
    text-align: center;
    padding: 17px;
    color: white;
    z-index: 1;
    width: 100%;
    left: 0;
    top: 0;
}
.navigation{
    position: sticky;
    top: 93px;
    background-color: #f8bf56;
    padding: 20px;
    margin: 0 auto;
    white-space: nowrap;
}
.navigation li{
    width: 25%;
    padding: 0px 10px;
    font-size: 24px;
    display: inline-block;
    text-decoration: none;
}
.navigation li a{
    padding: 0px 50px;
    text-decoration: none;
    color: #4b4b4b;
}
#joinc{
    color: rgb(165, 50, 50);
    font: 1.2em;
}
main{
    max-width: 100%;
    width: 1200;
    margin: 80px auto;
    padding: 0 100px;
    box-sizing: border-box;
}
main h2{
    color: rgb(165, 50, 50);
    font-size: 40px;
    line-height: 3;
}
main article{
    line-height: 2;
    color: #4b4b4b;
}
.images{
    padding: 0px 10px;
    white-space: nowrap;
    text-align: center;
    margin: 80px auto;
}
.images li{
    display: inline-block;
    width: 40%;
    margin: 20px 3%;
}
.images li img{
    width: 100%;
    max-width: 1200px;
}
.bottom{
    text-align: center;
}
.bottom h1{
    font-size: 34px;
}
#bottom1{
    background-color: #f8bf56;
}
form input{
    margin: 20px 0;
    padding: 10px 20px;
    font-size: 24px;
    border-radius: 28px;
    border: 4px solid white;
}
footer{
    padding: 20px;
    color: white;
    text-align: center;
    background-color: rgb(165, 50, 50);
}

/* pseudo classes */

.navigation li a:hover{
    text-decoration: underline;
    font-size: 1.4em;
}
.images li:hover{
    position: relative;
    top: -4px;
}
form input:focus{
    border: 4px dashed #4b4b4b;
    outline: none;
}
form input:valid{
    border: 4px solid #39f577d3;
}
form input:invalid{
    border: 4px solid #f33333e1;
}
form input{
    border: 4px solid black;
}
main article::first-line{
    font-weight: bold;
    font-size: 1.3em;
}
p::selection{
    background-color: rgb(165, 50, 50);
    color: white;
}
article::selection{
    background-color: rgb(165, 50, 50);
    color: white;
}
/* Responsive style */
@media only screen and (max-width: 1300px){
    .wellcome{
        font-size: 45px;
    }
}
@media only screen and (max-width: 1050px){
    .wellcome{
        font-size: 30px;
    }
}
@media only screen and (max-width: 800px){
    .wellcome{
        font-size: 20px;
    }
}
@media only screen and (max-width: 900px){
    .navigation li{
        display: block;
    }
    .navigation li a{
        padding: 0px 0px;
    }
}
@media only screen and (max-width: 700px){
    .wellcome{
        font-size: 20px;
        position: relative;
    }
    #span1{
        font-size: 1em;
    }
    .navigation li{
        font-size: 16px;
        display: block;
    }
    .navigation li a{
        padding: 0px 0px;
    }
    .bottom h1{
        font-size: 30px;
    }
    #bottom1{
        text-align: left;
        font-size: 14px;
        padding-right: 40px;
        padding-left: 40px;
    }
    form input{
        border-radius: 20px;
        font-size: 16px;
    }
}